{#-
input files:
    - /input/DummyData_Description.csv as _ 
    - /input/DummyData_Agents.csv as Agents
-#}

{% include 'includes/prefixes.ttl' %}

@base <https://marco-bolo.test.example/{{_.DatasetIdentifier}}> . {#todo: decide on baseURL#}

{#- Description info #}
<> 
    a schema:Dataset, dcat:Dataset, prov:Entity ;
     
    {%- if _.DatasetTitle %}
    schema:name {{_.DatasetTitle | ttl("xsd:string") | safe }} ;
    {%- else %}
    schema:name "None"^^xsd:string ;
    {%- endif %} 
    {%- if _.DatasetDescription %}
    schema:description {{_.DatasetDescription | ttl("xsd:string") | safe }} ;
    {%- else %}
    schema:description "None"^^xsd:string ;
    {%- endif %} 
    {%- if _.DatasetVersion %}
    schema:version {{_.DatasetVersion | ttl("xsd:string") | safe }} ;
    {%- else %}
    schema:version "None"^^xsd:string ;
    {%- endif %} 
    {%- if _.DataTypes %}
    schema:encodingFormat {% for dt in _.DataTypes.split(" | ") %}{{ dt.strip() | ttl("xsd:string") | safe }}{{ " ;" if loop.last else ", " }}{% endfor %}
    {%- else %}
    schema:encodingFormat "None"^^xsd:string ; 
    {%- endif %} 
    {%- if _.Keywords %}
    schema:keywords {% for keyw in _.Keywords.split(" | ") %}{{ keyw.strip() | ttl("xsd:string") | safe }}{{ " ;" if loop.last else ", " }}{% endfor %}
    {%- else %}
    schema:keywords "None"^^xsd:string ; 
    {%- endif %}    
    {%- if _.DataLandingPageURL %}
    schema:distribution {{ _.DataLandingPageURL | ttl("xsd:anyURI") | safe }}; 
    {%- else %}
    schema:distribution "None"^^xsd:string ;
    {%- endif %} 
    {%- if _.SourceDatasetIdentifier %}
        {%- for source_dataset in _.SourceDatasetIdentifier.split(" | ") %}
            {%- if source_dataset == "not published" %}
    schema:isBasedOn [
        a schema:CreativeWork ; 
        schema:creativeWorkStatus "not published"^^xsd:string ;
    ] ; 
            {%- elif source_dataset.startswith('http') %} {#published dataset with URL reference #}
    schema:isBasedOn <{{source_dataset}}> ; 
            {%- else %} {#published dataset in spreadsheet#}
    schema:isBasedOn  </{{source_dataset.strip()}}> ; 
            {%- endif %}
        {%- endfor %}
    {%- else %}
    schema:isBasedOn "None"^^xsd:string ; 
    {%- endif %} ;

    {#- Licence -#}
    {%- if _.Licence %}
        {%- if _.Licence.startswith('http') %}
    schema:license {{_.Licence | ttl("xsd:anyURI") | safe }} ;
        {%- else %}
    schema:license {{_.Licence | ttl("xsd:string") | safe }} ;
        {%- endif %} 
    {%- else %}
    schema:license "None"^^xsd:string ; 
    {%- endif %}

    {#- temporal coverage -#}
    {%- if _.DataStartDate or _.DataEndDate %}
    dct:temporal [ 
        a dct:PeriodOfTime ;
        {%- if _.DataStartDate %}
        dcat:startDate {{_.DataStartDate | ttl("xsd:string") | safe }} ; {#todo: convert back to date#}
        {%- endif %}
        {%- if _.DataEndDate %}
        dcat:endDate {{_.DataEndDate | ttl("xsd:string") | safe }} ; {#todo: convert back to date#}
        {%- endif %}
    ] ;
    {%- else %}
    dct:temporal "None"^^xsd:string ;
    {%- endif %}
    {#- spatial coverage- #}
    {%- if _.SpatialCoverageMarineRegion or _.SpatialCoverageWKT %}
    dct:spatial [
        a dct:Location ;
        {%- if _.SpatialCoverageMarineRegion %}
        dct:identifier <{{_.SpatialCoverageMarineRegion}}> ;
        {%- endif %}
        {%- if _.CoordinateProjection and _.SpatialCoverageWKT %}
            {%- if _.CoordinateProjection.startswith("http") %}  {#todo include mapping to full URL when only string is given#}
        locn:geometry """<{{_.CoordinateProjection}}> {{_.SpatialCoverageWKT}}"""^^geosparql:wktLiteral ;
            {%- endif %}
        {%- elif _.SpatialCoverageWKT %}
        locn:geometry """{{_.SpatialCoverageWKT }}"""^^geosparql:wktLiteral ;
        {%- endif %}
    ] ;
    {%- else %}
    dct:spatial "None"^^xsd:string ;
    {%- endif %}
    {#- taxonomic coverage -#}
    {%- if _.TaxonomicCoverage %}
    dwc:associatedTaxa {% for var in _.TaxonomicCoverage.split(" | ") %} <{{var.strip()}}>{{ " ;" if loop.last else ", " }}{% endfor %}  
    {%- else %}
    dwc:associatedTaxa "None"^^xsd:string ;
    {%- endif %}
    {#- measured variables -#}
    {%- if _.VariablesMeasured %}
    schema:variableMeasured {% for var in _.VariablesMeasured.split(" | ") %} <{{var.strip()}}>{{ " ;" if loop.last else ", " }}{% endfor %}  
    {%- else %}
    schema:variableMeasured "None"^^xsd:string ;
    {%- endif %}

    {#- Citation -#}    
    {%- if _.DatasetCitation %}
    dct:bibliographicCitation {{_.DatasetCitation | ttl("xsd:string") | safe }} ; 
    {%- else %}
    dct:bibliographicCitation "None"^^xsd:string ;
    {%- endif %}

    {#- other relevant citations -#}
    {%- if _.RelevantCitations %}
    dct:relation {%- for cit in _.RelevantCitations.split(" | ") %} <{{cit.strip()}}>{{ " ;" if loop.last else ", " }}{% endfor %}
    {%- else %}
    dct:relation "None"^^xsd:string ;
    {%- endif %}

    {#- dataproviders -#}
    {%- if _.DataProviderAgent %}
    {%- for contact in _.DataProviderAgent.split(" | ") %}
        {%- for agent in sets['Agents'] %}
            {%- if agent.AgentKey == contact %}
    dct:publisher [ 
        a schema:{{agent.Type}} ; 
        {%- if agent.ID %}
        schema:identifier <{{agent.ID}}> ; 
        {%- endif %}
        {%- if agent.Name %}
        schema:name {{agent.Name | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Email %}
        schema:email {{agent.Email | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Country %}
        schema:address {{agent.Country | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.URL %}
        schema:mainEntityOfPage <{{agent.URL}}> ; 
        {%- endif %}
        {#- Agent affiliations -#}
        {%- for affil_agent in sets['Agents'] %}
        {%- if agent.AffiliationAgentKey == affil_agent.AgentKey %}
            {%- if affil_agent.ID %}
        schema:affiliation <{{affil_agent.ID}}> ;
            {%- else %}
        schema:affiliation [
            a schema:{{affil_agent.Type}} ; 
            {%- if affil_agent.Name %}
            schema:name {{affil_agent.Name | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Email %}
            schema:email {{affil_agent.Email | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Country %}
            schema:address {{affil_agent.Country | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.URL %}
            schema:mainEntityOfPage <{{affil_agent.URL}}> ; 
            {%- endif %}
        ] ;
            {%- endif %}
        {%- endif %}
        {%- endfor%}
    ] ; 
    {%- endif %}
    {%- endfor%}

    {%- endfor %}
    {%- else %}
    dct:publisher "None"^^xsd:string ;
    {%- endif %}

    {#- contactpoints -#}
    {%- if _.DataContactAgent %}
    {%- for contact in _.DataContactAgent.split(" | ") %}
        {%- for agent in sets['Agents'] %}
        {%- if agent.AgentKey == contact %}
    dcat:contactPoint [ 
        a schema:{{agent.Type}} ; 
        {%- if agent.ID %}
        schema:identifier <{{agent.ID}}> ; 
        {%- endif %}
        {%- if agent.Name %}
        schema:name {{agent.Name | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Email %}
        schema:email {{agent.Email | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Country %}
        schema:address {{agent.Country | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.URL %}
        schema:mainEntityOfPage <{{agent.URL}}> ; 
        {%- endif %}

        {%- for affil_agent in sets['Agents'] %}
        {%- if agent.AffiliationAgentKey == affil_agent.AgentKey %}
            {%- if affil_agent.ID %}
        schema:affiliation <{{affil_agent.ID}}> ;
            {%- else %}
        schema:affiliation [
            a schema:{{affil_agent.Type}} ; 
            {%- if affil_agent.Name %}
            schema:name {{affil_agent.Name | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Email %}
            schema:email {{affil_agent.Email | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Country %}
            schema:address {{affil_agent.Country | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.URL %}
            schema:mainEntityOfPage <{{affil_agent.URL}}> ; 
            {%- endif %}
            ] ;        
            {%- endif %}
        {%- endif %}
        {%- endfor %}
    ] ; 
        {%- endif %}
        {%- endfor%}
    {%- endfor %}
    {%- else %}
    dcat:contactPoint "None"^^xsd:string ;
    {%- endif %}

    {#- funders -#}
    {%- if _.FunderAgent %}
    {%- for funder in _.FunderAgent.split(" | ") %}
        {%- for agent in sets['Agents'] %}
        {%- if agent.Agentkey == funder %}
    schema:funder [
        a schema:{{agent.Type}} ; 
        {%- if agent.ID %}
        schema:identifier <{{agent.ID}}> ; 
        {%- endif %}
        {%- if agent.Name %}
        schema:name {{agent.Name | ttl("xsd:string")}} ; 
        {%- endif %}
        {%- if agent.Email %}
        schema:email {{agent.Email | ttl("xsd:string")}} ; 
        {%- endif %}
        {%- if agent.Country %}
        schema:address {{agent.Country | ttl("xsd:string")}} ; 
        {%- endif %}
        {%- if agent.URL %}
        schema:mainEntityOfPage <{{agent.URL}}> ; 
        {%- endif %}

        {%- for affil_agent in sets['Agents'] %}
        {%- if agent.AffiliationAgentKey == affil_agent.AgentKey %}
            {%- if affil_agent.ID %}
        schema:affiliation <{{affil_agent.ID}}> ; 
            {%- else %}
        schema:affiliation [
            a schema:{{affil_agent.Type}} ; 
            {%- if affil_agent.Name %}
            schema:name {{affil_agent.Name | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Email %}
            schema:email {{affil_agent.Email | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Country %}
            schema:address {{affil_agent.Country | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.URL %}
            schema:mainEntityOfPage <{{affil_agent.URL}}> ; 
            {%- endif %}
        ] ;        
            {%- endif %}    
        {%- endif %}
        {%- endfor %}
    ] ; 
        {%- endif %}
        {%- endfor %}
    {%- endfor %}
    {%- else %}
    schema:funder "None"^^xsd:string ;
    {%- endif %}

    {#contributors#}
    {%- if _.DataContributorAgents %}
    {%- for contributor in _.DataContributorAgents.split(" | ") %}
        {%- for agent in sets['Agents'] %}
        {%- if agent.Agentkey == contributor %}   
    schema:contributor [
        a schema:{{agent.Type}} ; 
        {%- if agent.ID %}
        schema:identifier <{{agent.ID}}> ; 
        {%- endif %}
        {%- if agent.Name %}
        schema:name {{agent.Name | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Email %}
        schema:email {{agent.Email | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.Country %}
        schema:address {{agent.Country | ttl("xsd:string") | safe }} ; 
        {%- endif %}
        {%- if agent.URL %}
        schema:mainEntityOfPage <{{agent.URL}}> ; 
        {%- endif %}

        {%- for affil_agent in sets['Agents'] %}
        {%- if agent.AffiliationAgentKey == affil_agent.AgentKey %}
            {%- if affil_agent.ID %}
        schema:affiliation <{{affil_agent.ID}}> ; 
            {%- else %}
        schema:affiliation [
            a schema:{{affil_agent.Type}} ; 
            {%- if affil_agent.Name %}
            schema:name {{affil_agent.Name | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Email %}
            schema:email {{affil_agent.Email | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.Country %}
            schema:address {{affil_agent.Country | ttl("xsd:string") | safe }} ; 
            {%- endif %}
            {%- if affil_agent.URL %}
            schema:mainEntityOfPage <{{affil_agent.URL}}> ; 
            {%- endif %}
        ] ;        
            {%- endif %}        
        {%- endif %}
        {%- endfor%}
    ] ; 
        {%- endif %}
        {%- endfor %} 
    {%- endfor %}
    {%- else %}
    schema:contributor "None"^^xsd:string ;
    {%- endif %}

    {%- if _.DatasetDescriber %}
    schema:sdPublisher {{_.DatasetDescriber | ttl("xsd:string") | safe }} ;
    {%- else %}
    schema:sdPublisher "None"^^xsd:string ;
    {%- endif %}
    {%- if _.InProgressDataDate %} 
    schema:sdDatePublished {{ _.InProgressDataDate | ttl("xsd:string") | safe }} ; {#todo: convert back to date#} 
    {%- else %}
    schema:sdDatePublished "None"^^xsd:string ;
    {%- endif %}
    {%- if _.NotAccessibleData %}
    schema:conditionsOfAccess {{ _.NotAccessibleData | ttl("xsd:string") | safe }} ; 
    {%- else %}
    schema:conditionsOfAccess "None"^^xsd:string ;
    {%- endif %}
    {%- if _.EOVDescription %}
    dcat:theme {% for eov in _.EOVDescription.split(" | ") %} {{eov.strip() | ttl("xsd:string") | safe }}{{ " ;" if loop.last else ", " }}{% endfor %}  
    {%- else %}
    dcat:theme "None"^^xsd:string ;
    {%- endif %}
    {%- if _.IndicatorDescription %}
    dct:subject {% for ind in _.IndicatorDescription.split(" | ") %} {{ind.strip() | ttl("xsd:string") | safe }}{{ " ;" if loop.last else ", " }}{% endfor %}  
    {%- else %}
    dct:subject "None"^^xsd:string ;
    {%- endif %}
.