{
    "@context":
    {
        "@vocab": "http://schema.org/"
    },
    "@type": "Dataset",
    {#- to check whether this is correct #}
    "@id": "http://www.emodnet-biology.eu/data-catalog?module=dataset&dasid={{_.datasetrec.DasID}}",
    "distribution": "http://marineinfo.org/id/dataset/{{_.datasetrec.DasID}}.jsonld" ,
    {#- "includedInDataCatalog"#}
    {#- "measurementTechnique"#}
    {#- meastypes#}
    {%- if _.meastypes %}
    "variableMeasured": [
    {%- for meastype in _.meastypes %}
        {%- if meastype.Parameter or meastype.Description %}
         {
            {%- if meastype.Parameter %}
            "name":"{{meastype.Parameter}}",
            {%- else %}
            "name":"",
            {%- endif %}
             {%- if meastype.Description and meastype.Description.startswith('http') %}
            "identifier":"{{ meastype.Description}}",
             {%- elif meastype.Description %}
            "description":"{{ meastype.Description}}",
             {%- endif %}
            "@type":"PropertyValue"
        } {%- if not loop.last %}, {%- endif %}
        {%- endif %}
    {%- endfor %}
    ] , 
    {%- endif %}
    {#- "about"#}
    {%- if _.datasetrec.EngAbstract %}
    "abstract": "{{_.datasetrec.EngAbstract | replace('\r\n',' ') | replace('\r\t',' ') | replace('\n',' ') | replace('\t',' ') }}",
    {%- endif %}
    {#- "accountablePerson"#}
    {#- "acquireLicensePage"#}
    {#- "archivedAt"#}
    {#- "associatedMedia"#}
    {#- "audience"#}
    {#- "author"#}
    {%- if _.datasetrec.Citation %}
    "citation": "{{_.datasetrec.Citation | replace('\r\n',' ') | replace('\r\t',' ') | replace('\n',' ') | replace('\t',' ') }}",
    {%- endif %}
    {%- if _.datasetrec.AccConstrDescription %}
    "conditionsOfAccess": "{{_.datasetrec.AccConstrDescription | safe }}",
    {%- endif %}
    {#- "contentReferenceTime"#}
    {#- "contributor"#}
    {#- "copyrightHolder"#}
    {#- "copyrightNotice"#}
    {#- "copyrightYear"#}
    {#- "correction"#}
    {#- "countryOfOrigin"#}
    {%- if _.datasetrec.Progress %}
    "creativeWorkStatus": "{{_.datasetrec.Progress}}",
    {%- endif %}
    {#- "creditText"#}
    {%- if _.datasetrec.CDate %}
    "dateCreated": "{{_.datasetrec.CDate}}",
    {%- endif %}
    {%- if _.datasetrec.UDate %}
    "dateModified": "{{_.datasetrec.UDate}}",
    {%- endif %}
    {#- "datePublished":#}
    {#- "discussionUrl"#}
    {#- "editor"#}
    {#- "educationalUse"#}
    {#- "encoding"#}
    {#- "encodingFormat"#}
    {#- "funder"#}
    {#- "funding"#}
    {%- if _.children %}
    "hasPart": [ 
      {%- for child in _.children %}
      "http://marineinfo.org/id/dataset/{{child.DasID}}"
      {%- if not loop.last %}, {%- endif %}
      {%- endfor %}
    ] , 
    {%- endif %}
    {#- "inLanguage"#}
    {#- "isAccessibleForFree"#}
    {#- "isBasedOn"#}
    {%- if _.parents %}
    "isPartOf": [
      {%- for parent in _.parents %}
      "http://marineinfo.org/id/dataset/{{parent.DasID}}"
      {%- if not loop.last %}, {%- endif %}
      {%- endfor %}
    ] , 
    {%- endif %}
    {%- if _.keywords %}
    "keywords": [
        {%- for keyw in _.keywords %}
        {
            {%- if keyw.ThesaurusTerm %}
            "name":"{{keyw.ThesaurusTerm}}",
            {%- endif %}
            {%- if keyw.ThesType %}
            "inDefinedTermSet":"{{keyw.ThesType}}",
            {%- endif %}
            {%- if keyw.ThesTypID %}
            "termCode":"{{keyw.ThesTypID}}",
            {%- endif %}
            "@type":"DefinedTerm"
        } {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    ],
    {%- endif %}
    {%- if _.datasetrec.License %}
    "license": "{{_.datasetrec.License}}",
    {%- endif %}
    {#- "locationCreated"#}
    {#- "mainEntity"#}
    {#- "maintainer"#}
    {#- "position"#}
    {#- "provider"#}
    {#- "publication"#}
    {%- if _.ownerships %}
    {%- set creators = [] %}
    {%- set contributors = [] %}
    {%- set publishers = [] %}
    {%- for ownership in _.ownerships %}
      {%- if ownership.RoleID == 61 %}
        {%- set _ = creators.append(ownership) %}
      {%- elif ownership.RoleID == 24 %}
        {%- set _ = publishers.append(ownership) %}
      {%- else %}
        {%- set _ = contributors.append(ownership) %}
      {%- endif %}
    {%- endfor %}
    {%- endif %}
    "creator" : [
    {%- for ownership in creators %}
      {%- if ownership.PersID %}
        "http://marineinfo.org/id/person/{{ownership.PersID}}"
      {%- elif ownership.InsID %}
        "http://marineinfo.org/id/institute/{{ownership.InsID}}"
      {%- endif %}
      {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
    ] ,
    "contributor": [
    {%- for ownership in contributors %}
      {%- if ownership.PersID %}
        "http://marineinfo.org/id/person/{{ownership.PersID}}"
      {%- elif ownership.InsID %}
        "http://marineinfo.org/id/institute/{{ownership.InsID}}"
      {%- endif %}
      {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
    ] ,
    "publisher" : [
    {%- for ownership in publishers %}
      {%- if ownership.PersID %}
        "http://marineinfo.org/id/person/{{ownership.PersID}}"
      {%- elif ownership.InsID %}
        "http://marineinfo.org/id/institute/{{ownership.InsID}}"
      {%- endif %}
      {%- if not loop.last %}, {%- endif %}
    {%- endfor %}
    ] , 
    {#- "publishingPrinciples"#}
    {#- "review"#}
    {#- "sdDatePublished"#}
    {#- "size"#}
    {#- "spatial"#} 
    {%- if _.geographical %}
    "spatialCoverage":
    [
        {%- for geot in _.geographical %}
        {
            {%- if geot.OrigGeoTerm %}
            "http://purl.org/dc/terms/type": "{{geot.OrigGeoTerm}}" , 
            {%- endif %}
            {%- if geot.X and geot.Y and geot.MaxX and geot.MaxY %}
            "http://www.w3.org/ns/dcat#bbox":"POLYGON(( {{geot.X}} {{geot.Y}} , {{geot.MaxX}} {{geot.Y}} , {{geot.MaxX}} {{geot.MaxY}} , {{geot.X}} {{geot.MaxY}} , {{geot.X}} {{geot.Y}} ))" , 
            {%- endif %}
            {%- if geot.GeoObjectID %} {#only keeping the ones that have a GeoObectID, hence, for which a url can be contructed #}
            "http://purl.org/dc/terms/isPartOf": "http://www.marineregions.org/mrgid/{{geot.GeoObjectID}}" ,
            {%- endif %} 
            "@type": "http://purl.org/dc/terms/Location"
        } {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    ],
    {%- endif %}
    {#- "temporal"#} 
    {%- if _.temporal %}
    "temporalCoverage":
    [
        {%- for temp in _.temporal %}
        {%- if temp.StartDate and temp.EndDate and temp.StartDate == temp.EndDate %}
        "{{temp.StartDate}}"
        {%- elif temp.StartDate and temp.EndDate %}
        "{{temp.StartDate}}/{{temp.EndDate}}"
        {%- elif temp.StartDate and temp.Progress == "In Progress" %}
        "{{temp.StartDate}}/.."
        {%- endif %}
        {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    ],
    {%- endif %}
    {%- if _.taxterms %}
    "about" : [
        {%- for tax in _.taxterms %}
        {
          "taxonRank" : {
            "name": "{{tax.TaxTerm}}",
            "identifier": "https://www.marinespecies.org/aphia.php?p=taxdetails&id={{tax.AphiaID}}"
          },          
          "@type" : "Taxon"
        } {%- if not loop.last %}, {%- endif %}
        {%- endfor %}
    ],
    {%- endif %}
    {%- if _.datasetrec.VersionName %}
    "version": "{{_.datasetrec.VersionName}}",
    {%- endif %}
    {#- "additionalType"#}
    {%- if _.datasetrec.Acronym %}
    "alternateName": "{{_.datasetrec.Acronym}}",
    {%- endif %}
    {%- if _.datasetrec.EngDescr %}
    "description": "{{_.datasetrec.EngDescr | replace('\r\n',' ') | replace('\r\t',' ') | replace('\n',' ') | replace('\t',' ') }}",
    {%- endif %}
    {%- if _.datasetrec.OrigDescr %}
    "disambiguatingDescription": "{{_.datasetrec.OrigDescr}}",
    {%- endif %}
    "identifier": "{{_.datasetrec.DasID}}",
    {#- "mainEntityOfPage"#}
    {%- if _.datasetrec.StandardTitle %}
    "name": "{{_.datasetrec.StandardTitle}}",
    {%- endif %}
    "sameAs": "http://marineinfo.org/id/dataset/{{_.datasetrec.DasID}}",
    {#- "subjectOf"#}
    "url": "http://marineinfo.org/id/dataset/{{_.datasetrec.DasID}}"
}