{# Template 'gsheet.jsonld.ldt.j2' 
  Description: 'Template for conversion of MBO dataset information from gsheets into jsonld following MBO.' 
  Inputs: 
    "_": f'./input/MARCO-BOLO_Metadata_Dataset_Record_description_{wp}.csv',
    "agents": f'./input/MARCO-BOLO_Metadata_Dataset_Record_agent_{wp}.csv'
#}
{
    {#-note: @context is added at bottom of template for syntax validation reasons #}
    "@type": "Dataset",
    "@id": "{{_.DatasetIdentifier}}",
    "identifier": "{{_.DatasetIdentifier}}",
    {#- "DataCatalog" in dataset description on oceaninfohub; this info not yet recorded for MBO datasets
    {%- if _.dataCatalogID %}
    "includedInDataCatalog": {
        {%- if _.dataCatalogID %}
        "@id": "{{_.dataCatalogID}}",
        {%- endif %}
        {%- if _.dataCatalogUrl %}
        "url": "{{_.dataCatalogUrl}}",
        {%- endif %}
        "@type": "DataCatalog"
    },
    {%- endif %}
    #}
    {%- if _.VariablesMeasured %}
    "variableMeasured":
    [
        {%- for var in _.VariablesMeasured.split("|") %}
        "{{var.strip()}}"{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    {%- endif %}
    {#- "measurementTechnique" in dataset description on oceaninfohub; this info not yet recorded for MBO datasets #}
    {#-
    {%- if _.measurementTechnique %}
    "measurementTechnique": "{{_.measurementTechnique}}",
    {%- endif %}
    #}
    {%- if _.TaxonomicCoverage %}
    "about": [
        {%- for tax in _.TaxonomicCoverage.split(" | ") %}
        "{{tax}}"{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    {%- endif %}
    {#- "subjectOf" in dataset description on oceaninfohub; this info not yet recorded for MBO datasets
    {%- if _.activityName or _.activityDescription %}
    "subjectOf": {
        {%- if _.activityDescription %}
        "description": "{{_.activityDescription}}",
        {%- endif %}
        {%- if _.activityName %}
        "name": "{{_.activityName}}",
        {%- endif %}
        {%- if _.activityAction %}
        "potentialAction": [
            {%- for action in _.activityAction.split("|") %}
            {
                {%- if action.name %}
                "name": "{{action.name}}",
                {%- endif %}
                {%- if action.agentID %}
                "agent" "{{action.agentID}}",
                {%- endif %}
                {%- if action.startTime %}
                "startTime": "{{action.startTime}}",
                {%- endif %}
                {%- if action.endTime %}
                "endTime": "{{action.endTime}}",
                {%- endif %}
                {%- if action.instrumentName or action.instrumentUrl or action.instrumentDescription %}
                "instrument": {
                    {%- if action.instrumentName %}
                    "name": "{{action.instrumentName}}",
                    {%- endif %}
                    {%- if action.instrumentUrl %}
                    "url": "{{action.instrumentUrl}}",
                    {%- endif %}
                    {%- if action.instrumentDescription %}
                    "description": "{{action.instrumentDescription}}",
                    {%- endif %}
                    "@type": "Thing"
                },
                {%- endif %}
                "@type": "Action"
            }{{ ", " if not loop.last else "" }}
            {%- endfor %}
        {%- endif %}
        ],
      "@type": "Event"
    },
    {%- endif %}
    #}
    {%- if _.RelevantCitations %}
    "citation":
    [
        {%- for cit in _.RelevantCitations.split(" | ") %}
        "{{cit}}"{{ ", " if not loop.last else "" }}
        {%- endfor%}
    ],
    {%- endif %}

    {%- if _.NotAccessibleData%}
    "conditionsOfAccess": "{{_.NotAccessibleData}}",
    {%- endif %}

    {%- if _.DataContributorAgents %}
    "contributor":
    [
        {%- for contributor in _.DataContributorAgents %}
            {%- for agent in sets["agents"]  %}
            {%- if contributor == agent.AgentKey %}
            {
                {%- if agent.Email %}
                "email": "{{agent.Email}}", 
                {%- endif %}
                {%- if agent.URL %}
                "url": "{{agent.URL}}",
                {%- endif %}
                {%- if agent.AffiliationAgentKey %}
                    {%- for org in sets["agents"]  %}
                    {%- if org.AgentKey == agent.AffiliationAgentKey %}
                "affiliation": {
                    {%- if org.Email %}
                    "email": "{{org.Email}}", 
                    {%- endif %}
                    {%- if org.URL %}
                    "url": "{{org.URL}}",
                    {%- endif %}
                    {%- if org.Country %}
                    "address": {
                        "@type": "https://schema.org/PostalAddress", 
                        "addressCountry": "{{org.Country}}" 
                    }, 
                    {%- endif %}
                    "name": "{{org.Name}}",
                    "identifier": "{{org.ID}}", 
                    "@type": "https://schema.org/{{org.Type}}"
                }, 
                    {%- endif %}
                    {%- endfor %}
                {%- endif %}
                {%- if agent.Country %}
                "workLocation": {
                    "@type": "https://schema.org/Country", 
                    "name": "{{agent.Country}}" 
                }, 
                {%- endif %}
                "name": "{{agent.Name}}",
                "identifier": "{{agent.ID}}", 
                "@type": "https://schema.org/{{agent.Type}}"
            },
            {%- endif %}
            {%- endfor %}
        {%- endfor%}
    ],
    {%- endif %}
    {%- if _.DataTypes %}
    "encodingFormat":
    [
        {%- for type in _.DataTypes.split(" | ") %}
        "{{type|trim}}"{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    {%- endif %}

    {%- if _.FunderAgent %}
    "funder":
    [
        {%- for funder in _.FunderAgent.split(" | ") %}
            {%- for agent in sets["agents"]  %}
                {%- if funder == agent.AgentKey %}
                {
                    {%- if agent.Email %}
                    "email": "{{agent.Email.strip()}}", 
                    {%- endif %}
                    {%- if agent.URL %}
                    "url": "{{agent.URL}}",
                    {%- endif %}
                    {%- if agent.AffiliationAgentKey %}
                        {%- for org in sets["agents"]  %}
                        {%- if org.AgentKey == agent.AffiliationAgentKey %}
                    "affiliation": {
                        {%- if org.Email %}
                        "email": "{{org.Email}}", 
                        {%- endif %}
                        {%- if org.URL %}
                        "url": "{{org.URL}}",
                        {%- endif %}
                        {%- if org.Country %}
                        "address": {
                            "@type": "https://schema.org/PostalAddress", 
                            "addressCountry": "{{org.Country}}" 
                        },
                        {%- endif %}
                        "name": "{{org.Name}}",
                        "identifier": "{{org.ID}}", 
                        "@type": "https://schema.org/{{org.Type}}"
                    },
                        {%- endif %}
                        {%- endfor %}
                    {%- endif %}
                    {%- if agent.Country %}
                    "workLocation": {
                        "@type": "https://schema.org/Country", 
                        "name": "{{agent.Country}}" 
                    },
                    {%- endif %}
                    "name": "{{agent.Name}}",
                    "identifier": "{{agent.ID}}",
                    "@type": "https://schema.org/{{agent.Type}}"
                },
                {%- endif %}
            {%- endfor %}
        {%- endfor %}
    ],
    {%- endif %}
    {%- if _.SourceDatasetIdentifier %}
    "isPartOf":
    [
        {%- for id in _.SourceDatasetIdentifier.split(' | ') %}
        "{{id}}"{{ ", " if not loop.last else "" }}
        {%- endfor%}
    ],
    {%- endif %}

    {%- if _.Keywords %}
    "keywords":
    [
        {%- for keyw in _.Keywords.split(" | ") %}
        "{{keyw|trim}}"{{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    {%- endif %}

    {%- if _.License %}
    "license": "{{_.License}}",
    {%- endif %}

    {%- if _.DatasetCitation %}
    "http://purl.org/dc/terms/bibliographicCitation": "{{_.DatasetCitation}}",
    {%- endif %}

    {%- if _.DataProviderAgent %}
    "provider":
    [
        {%- for provider in _.DataProviderAgent.split(" | ") %}
            {% for agent in sets["agents"]  %}
                {%- if provider == agent.AgentKey %}
                {
                    {%- if agent.Email %}
                    "email": "{{agent.Email}}",
                    {%- endif %}
                    {%- if agent.URL %}
                    "url": "{{agent.URL}}",
                    {%- endif %}
                    {%- if agent.AffiliationAgentKey %}
                        {%- for org in sets["agents"]  %}
                        {%- if org.AgentKey == agent.AffiliationAgentKey %}
                    "affiliation": {
                        {%- if org.Email %}
                        "email": "{{org.Email}}",
                        {%- endif %}
                        {%- if org.URL %}
                        "url": "{{org.URL}}",
                        {%- endif %}
                        {%- if org.Country %}
                        "address": {
                            "@type": "https://schema.org/PostalAddress",
                            "addressCountry": "{{org.Country}}" 
                        },
                        {%- endif %}
                        "name": "{{org.Name}}",
                        "identifier": "{{org.ID}}",
                        "@type": "https://schema.org/{{org.Type}}"
                    },
                        {%- endif %}
                        {%- endfor %}
                    {%- endif %}
                    {%- if agent.Country %}
                    "workLocation": {
                        "@type": "https://schema.org/Country",
                        "name": "{{agent.Country}}" 
                    },
                    {%- endif %}
                    "name": "{{agent.Name}}",
                    "identifier": "{{agent.ID}}",
                    "@type": "https://schema.org/{{agent.Type}}"
                },
                {%- endif %}
            {%- endfor %}
        {%- endfor %}
    ],
    {%- endif %}

    {%- if _.DataContactAgent %}
    "publisher":
    [
        {%- for provider in _.DataContactAgent.split(" | ") %}
            {% for agent in sets["agents"]  %}
                {%- if provider == agent.AgentKey %}
                {
                    {%- if agent.Email %}
                    "email": "{{agent.Email}}",
                    {%- endif %}
                    {%- if agent.URL %}
                    "url": "{{agent.URL}}",
                    {%- endif %}
                    {%- if agent.AffiliationAgentKey %}
                        {%- for org in sets["agents"]  %}
                        {%- if org.AgentKey == agent.AffiliationAgentKey %}
                    "affiliation": {
                        {%- if org.Email %}
                        "email": "{{org.Email}}",
                        {%- endif %}
                        {%- if org.URL %}
                        "url": "{{org.URL}}",
                        {%- endif %}
                        {%- if org.Country %}
                        "address": {
                            "@type": "https://schema.org/PostalAddress",
                            "addressCountry": "{{org.Country}}" 
                        },
                        {%- endif %}
                        "name": "{{org.Name}}",
                        "identifier": "{{org.ID}}",
                        "@type": "https://schema.org/{{org.Type}}"
                    },
                        {%- endif %}
                        {%- endfor %}
                    {%- endif %}
                    {%- if agent.Country %}
                    "workLocation": {
                        "@type": "https://schema.org/Country",
                        "name": "{{agent.Country}}" 
                    },
                    {%- endif %}
                    "name": "{{agent.Name}}",
                    "identifier": "{{agent.ID}}",
                    "@type": "https://schema.org/{{agent.Type}}"
                },
                {%- endif %}
            {%- endfor %}
        {%- endfor %}
    ],
    {%- endif %}
    {#- "publishingPrinciples" in EOV description on oceaninfohub; this info not yet recorded for MBO datasets
    {%- if _.pubPrincUrl or _.pubPrincName or _.pubPrincDescr %}
    "publishingPrinciples": {
      {
            {%- if _.pubPrincUrl %}
            "url": "{{_.pubPrincUrl}}",
            {%- endif %}
            {%- if _.pubPrincName %}
            "name": "{{_.pubPrincName}}",
            {%- endif %}
            {%- if _.pubPrincDescr %}
            "description": "{{_.pubPrincDescr}}",
            {%- endif %}
            "@type": "CreativeWork"
        },
    },
    {%- endif %}
    #}
    {%- if _.SpatialCoverageMarineRegion %}
    "spatialCoverage": [
        {%- for mr in _.SpatialCoverageMarineRegion.split(" | ") %}
        "{{mr}}" {{ ", " if not loop.last else "" }}
        {%- endfor %}
    ],
    {%- endif %}
    {%- if _.SpatialCoverageWKT %}
    "geosparql:hasGeometry": {
        "geosparql:asWKT": {
            "@type": "http://www.opengis.net/ont/geosparql#wktLiteral",
            "@value": "{{_.SpatialCoverageWKT}}"
        },
        "geosparql:crs": {
            "@id": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
        }
    },
    {%- endif %}
    {%- if _.DataStartDate or _.DataEndDate %}
    "temporalCoverage": 
        {%- if _.DataStartDate and _.DataEndDate and _.DataStartDate == _.DataEndDate %}
        "{{_.DataStartDate}}",
        {%- elif _.DataStartDate and _.DataEndDate %}
        "{{_.DataStartDate}}/{{_.DataEndDate}}",
        {%- elif _.DataStartDate %}
        "{{_.DataStartDate}}/..",
        {%- elif _.DataEndDate %}
        "{{_.DataEndDate}}/..",
        {%- endif %}
    {%- endif %}

    {%- if _.DatasetVersion %}
    "version": "{{_.DatasetVersion}}",
    {%- endif %}

    {%- if _.InProgressDataDate %}
    "datePublished": "{{_.InProgressDataDate}}",
    {%- endif %}

    {# EVDescription, EOV, IndicatorDescription and EBV values likely to change in the future #}
    {%- if _.EVDescription %}
    "additionalType": "{{_.EVDescription}}",
    {%- endif %}
    {%- if _.EOV %}
    "additionalType": "{{_.EOV}}",
    {%- endif %}

    {%- if _.IndicatorDescription %}
    "additionalType": "{{_.IndicatorDescription}}",
    {%- endif %}
    {%- if _.EBV %}
    "additionalType": "{{_.EBV}}",
    {%- endif %}
    

    {%- if _.DatasetDescription %}
    "description": "{{ _.DatasetDescription.replace("\n", "")}}",
    {%- endif %}

    {%- if _.DatasetDescriber %}
    {%- for agent in sets["agents"] %}
        {%- if _.DatasetDescriber == agent.AgentKey %}
    "sdPublisher": {
        {%- if agent.Email %}
        "email": "{{agent.Email}}",
        {%- endif %}
        {%- if agent.URL %}
        "url": "{{agent.URL}}",
        {%- endif %}
        {%- if agent.AffiliationAgentKey %}
            {%- for org in sets["agents"] %}
            {%- if org.AgentKey == agent.AffiliationAgentKey %}
        "affiliation": {
            {%- if org.Email %}
            "email": "{{org.Email}}",
            {%- endif %}
            {%- if org.URL %}
            "url": "{{org.URL}}",
            {%- endif %}
            {%- if org.Country %}
            "address": {
                "@type": "https://schema.org/PostalAddress",
                "addressCountry": "{{org.Country}}" 
            },
            {%- endif %}
            "name": "{{org.Name}}",
            "identifier": "{{org.ID}}",
            "@type": "https://schema.org/{{org.Type}}"
        },
            {%- endif %}
            {%- endfor %}
        {%- endif %}
        {%- if agent.Country %}
        "workLocation": {
            "@type": "https://schema.org/Country",
            "name": "{{agent.Country}}" 
        },
        {%- endif %}
        "name": "{{agent.Name}}",
        "identifier": "{{agent.ID}}",
        "@type": "https://schema.org/{{agent.Type}}"
    }, 
        {%- endif %}
    {%- endfor %}
    {%- endif %}    

    {%- if _.DatasetTitle %}
    "name": "{{ _.DatasetTitle }}",
    {%- endif %}

    {%- if _.DataLandingPageURL and " | " in _.DataLandingPageURL %}
    "url": [
        {%- for url in _.DataLandingPageURL.split(" | ") %}
        "{{url|trim}}" {%- if not loop.last %},{%- endif %}
        {%- endfor %}
    ],
    {%- else %}
    "url": "{{_.DataLandingPageURL}}",
    {%- endif %}

    "@context":
    {
        "@vocab": "http://schema.org/",
        "geosparql": "http://www.opengis.net/ont/geosparql#"
    }
} 
